:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 500px;
}

.mat-column-actions {
  width: 32px;
}

.btn-add-project {
  margin-top: 1rem;
}

.no-data-row{
  width: 100%;
  
  display: block;
  color: white;
  
  padding: 0.7rem 1rem;

  .cell-no-data {
    display: block;
    text-align: center;
  }
}
