<mat-card class="card-form">
  <mat-card-header>
    <mat-card-title><span class="title">Login</span></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput autocomplete="e-mail" formControlName="email" />
        <mat-error>
          <app-field-error [control]="form.controls['email']"></app-field-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hideValue.password ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleHidePassword('password')"
        >
          <mat-icon>{{
            hideValue.password ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error>
          <app-field-error
            [control]="form.controls['password']"
          ></app-field-error>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button (click)="login()">Entrar</button>
    </form>

    <p class="txt-register">Não tem uma conta? <a [routerLink]="['/cadastro']">Cadastre-se aqui</a></p>
  </mat-card-content>
</mat-card>
