<h1 class="title">Apontamento Semanal</h1>

<div>
  <div class="actions">
    <app-date-control
      (next)="nextWeek()"
      (previous)="lastWeek()"
      (today)="currentWeek()"
      [disabledToday]="isCurrentWeek"
    ></app-date-control>

    <button
      mat-fab
      extended
      class="btn-add-project"
      (click)="openSelectProjectsDialog()"
    >
      Selecionar projeto
    </button>
  </div>

  <table mat-table [dataSource]="timeEntries">
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>Projeto</th>
      <td mat-cell *matCellDef="let element">{{ element.project.name }}</td>
    </ng-container>

    @for (day of weekDays; track $index) {
    <ng-container [matColumnDef]="day.label">
      <th mat-header-cell *matHeaderCellDef>
        {{ weekColumns[$index].label }} {{ day.date | date : "dd/MM" }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="container-column-time-entry">
          <mat-form-field>
            <input
              matInput
              type="number"
              [value]="element[day.label]?.hours"
              (change)="onChangeTimeEntry(element, day, $event)"
            />
          </mat-form-field>
          <button
            class="observations"
            mat-mini-fab
            [disabled]="!element[day.label]?.hours"
            (click)="openModalObservations(element[day.label])"
          >
            <mat-icon>{{ element[day.label]?.observations ? 'comment' : 'add_comment'}}</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="no-data-row" *matNoDataRow>
      <td class="cell-no-data" [attr.colspan]="displayedColumns.length">
        Nenhum apontamento cadastrado
      </td>
    </tr>
  </table>
</div>
